.button {
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
    border: var(--border-active);
    cursor:pointer;
    box-shadow: var(--shadow);
    background-color: var(--background);
    color: var(--primary);
    font-weight: 600;
}
.button:hover {
    transform: translateY(-1px);
}
.button:active {
    transform: translateY(1px);
    box-shadow: none;
}