form {
    max-width: 900px;
    margin: 0 auto;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "date date" "first-name last-name" "e-mail e-mail" "permission permission";
    grid-gap: 0.5rem;
}
.first-name {
    grid-area: first-name;
}
.last-name {
    grid-area: last-name;
}
.e-mail {
    grid-area: e-mail;
}
.permission {
    grid-area: permission;
}
.date {
    cursor: unset;
    grid-area: date;
}
.date:hover {
    cursor: unset;
    grid-area: date;
}

.appointment-selection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
}
#date-selection {
    grid-area: dateSelect;
}
#time-selection {
    grid-area: timeSelect;
}
.input.date {
    grid-area: date;
}
.hero {
    width: 100%;
    max-height: 50vh;
    object-fit: cover;
    object-position: center;
    margin-bottom: 2rem;
}
