:root {
    --background: white;
    --primary: #0077ff;
    --secondary: #00104b;
    --grey: #a3a8ba;
    --shadow: 0px 1px 3px rgba(10, 10, 10, 0.3);
    --border: 1px solid var(--grey);
    --border-active: 2px solid var(--primary);
}
.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
    color: inherit;
}
h4 {
    margin-bottom: 1rem;
}
footer {
    background-color: var(--grey);
    height: 300px;
}
main {
    margin-bottom: 3rem;
    min-height: 100vh;
}
.heading {
    margin: 1rem 0 3rem 0;
}
.heading > p {
    font-size: 1.2rem;
}
