.button {
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
    border: 2px solid var(--primary);
    cursor:pointer;
    box-shadow: var(--shadow);
    background-color: var(--background);
    color: var(--primary);
    font-weight: bold;
}
.button:hover {
    border-color:var(--primary);
}
.button:active {
    transform: translateY(2px);
    box-shadow: none;
}