@import "./topbar.css";
@import "./input.css";
@import "./select.css";
@import "./overlay.css";
@import "./thank-you.css";
@import "./button.css";

:root {
    --background: white;
    --primary: #0077FF;
    --secondary: #00104B;
    --grey: #A3A8BA;
    --shadow: 0px 1px 3px rgba(10, 10, 10, 0.3);
}

* {
    box-sizing: border-box
}
input:focus {
    outline:none;
}
.container {
    position: relative;
}
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
