.fade-in {
    animation: fade 1s;
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.thank-you .hero {
    width: 100%;
    max-height: 50vh;
    object-fit: cover;
    object-position: top;
    margin-bottom: 2rem;
}
.thank-you .heading {
    max-width: 900px;
    margin: auto;
}
.thank-you .heading .button {
    margin-top: 2rem;
}