header {
    --topbar-height: 64px; 
}
.topbar-wrapper {
    position: fixed;
    width: 100%;
    background-color: var(--background);
    z-index: 10;
}
.topbar {
    height: var(--topbar-height);
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}
.topbar nav {
    color: var(--secondary);
    font-weight: 600;

}
.topbar a {
    margin-left: 2rem;
}
.topbar-placeholder {
    height: var(--topbar-height);
    margin-bottom: 2rem;
}
.menu {
    display: none;
}
.menu-icon {
    width: 64px;
    height: 64px;
    padding: 24px 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-icon div {
    border-top: 2px solid var(--secondary);
    height: 1px;
}
.menu-icon:hover {
    background-color: var(--light-grey);
}
.menu-icon:active {
    padding: 26px 24px;
}

/* --- responsive --- */
@media only screen and (max-width:768px) {
    .navigation {
        display: none;
    }
    .menu {
        display: block;
    }
}